html {
  font-size: 14px;
  font-family: "Segoe UI", Helvetica, sans-serif;}

body {background:#eee;}

a, a:visited {text-decoration:none; color:#1122CC;}
a:hover {color:#474747;}
a:focus {outline:none;}

h1 {margin:0; font-size:28px; font-weight:normal;}

.imgh {position:absolute; top:-9000px;}

.top-pane {
	text-align:center; background:url('../img/bg1.jpg') no-repeat center #eee;
	padding-top:10px;}
.top-pane .logo {margin:0; border-bottom:1px solid #cfcfcf; padding:20px 0;}
.top-pane .logo a {
	background:url('../img/logo-big.png') no-repeat; overflow:hidden;
	width:460px; height:105px; display:block; margin:0 auto;}

.minimized .top-pane {padding:0;}
.minimized .top-pane .logo {display:inline;}
.minimized .top-pane .logo a {
  background-position: 10px 5px;
  background-size: auto 89%;
  height: 64px;
  overflow: hidden;
  position: absolute;
  width: 273px;}


.loading-indicator {display: none;}
/*.loading .loading-indicator {display:block}*/


.fade {
  opacity: .3;
  -moz-transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;}


#search-bar {
  padding:10px; border-top:1px solid #fff; border-bottom:1px solid #cfcfcf;
  -moz-transition: background-color 0.2s;
  -webkit-transition: background-color 0.2s;}
#search-bar input {font-size:16px; padding:5px; width:300px;}
#search-bar.focused {background-color:#e4e4e4;}
#search-bar.focused {background-color:rgba(0,0,0,0.05);}
#search-bar.loading {background:url('../img/loading_bar.gif') repeat-x center;}

.search-results-pane {clear:both;}
.SearchResults {
  overflow-x:auto; overflow-y:hidden; box-shadow:0 0 10px #bbb inset;
  border-bottom:1px solid #fff;
  -moz-transition: height 1.5s;
  -webkit-transition: height 1.5s;	}
.SearchResults ol {margin:0 auto; padding:0;}
.SearchResults li {list-style:none; display:inline-block;}
.SearchResults li a {
	display:inline-block; width:150px; vertical-align:text-top;
	text-align:center;}
.SearchResults li a .content {display:block; height:200px; padding:10px;}
.SearchResults li a .content .image {
	display:block; width:100%; height:140px;
	background:url('../img/no-poster.png') no-repeat center;}
.SearchResults li a .content .image .poster {
	background: no-repeat center #333; width:100%; height:100%; display:block;
	background-size:100% auto;}
.SearchResults li a:focus,
.SearchResults li a.selected {background:rgba(0,0,0,0.05);}
.SearchResults li a .content .title {padding-top:3px; display:inline-block;}
.SearchResults li a .content .year {color: #333;}
.SearchResults li a:hover {background-color:rgba(255,255,255,.5);}
.SearchResults li a {
  -moz-transition: background-color 0.2s;}
  /* Doesn't work properly in chrome... */
  /* -webkit-transition: background-color 0.2s;} */

.SearchResults .no-results {
	padding:70px; text-align:center; font-size:36px; color:#999;
	font-weight:bold; text-shadow:0 2px 1px #fff;}

.bottom-pane {height:600px; /* dynamic */}

.movie-detail-pane {
  height:100%; overflow-y:auto; width:40%; float:left;
  /*-moz-transition: width 0.5s;
  -webkit-transition: width 0.5s;*/}

.MovieDetail {}
.MovieDetail .info {
	padding:20px; /*box-shadow: 0 20px 20px -20px #FFFFFF inset;*/
	position:relative;
	text-shadow:0 0 1px #fff,0 0 2px #fff,0 0 3px #fff;}
.MovieDetail .info h1 .year {color:#666; padding:10px;}
.MovieDetail .info .imdb {font-size:16px;}
.MovieDetail .info .plot {font-style:italic; color:#333;}
.MovieDetail .info .image-bg {
	background-repeat: no-repeat; background-size:100% auto;
	background-position: center;
	position:absolute; left:0; right:0; top:0; bottom:0; z-index:-1;
	opacity:.1;}
.MovieDetail ul {margin:0; padding:0;}
.MovieDetail li {
  background:#ddd; cursor:default; color:#444;
  list-style:none; padding:0;  min-height:30px;
  border-top:1px solid #fff; border-bottom:1px solid #CECECE;
  text-shadow:0 1px 1px #fff;}
.MovieDetail li.geo {
cursor:pointer; color:#000;
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
  background: linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}

.MovieDetail li div {padding:0 20px;}
.MovieDetail li .location {padding:5px 20px 2px;}
.MovieDetail li .description {
	padding:2px 20px 5px; background:rgba(0,0,0,.02); color:#666;}

.MovieDetail li.geo:hover {background:#F0EFFF;}
.MovieDetail li.geo:hover .description {background:none;}

.map-pane {
  position:relative; width:60%; height:100%; float:left;
  /*-moz-transition: width 0.5s;
  -webkit-transition: width 0.5s;*/}
.map-pane .map-container {
	height:100%; background:#ddd; border-left:1px solid #aaa;}
.map-pane .overlay {
	position:absolute; left:0; right:0; top:0; bottom:0; background: #eee;
	opacity:.8}

.bottom-pane.map-only .map-pane {width:100%;}
.bottom-pane.map-only .movie-detail-pane {width:0%;}

.intro-box {
	position:absolute; width:450px; left:50%; margin-left:-275px; top:270px;
	padding:25px 50px;
    background:rgba(238,238,238,.7);
	border:1px solid; border-color:#fff #ddd #bbb #ddd;
	box-shadow:0 10px 20px rgba(0,0,0,.2);}
.intro-box p {font-size:16px;}

/*.intro-box h1 {text-align:center;}*/
