doctype 5
html(lang='en')
  head
    meta(charset='utf-8')
    link(rel='shortcut icon', href='/img/favicon.png')
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/style.css')
    title Movie Map

  body
    block content
    //script(src='/static/jquery-1.7.min.js')
    script(src='http://maps.googleapis.com/maps/api/js?key=AIzaSyDHi2rK3_qANfPsrCKV74Jzdl7GXCN2TjI&sensor=false')
    script(src='/browserify.js')
    block scripts
