extends base

block content
  .top-pane
    .logo-wrapper
      h1: a(href='/'): span.imgh Movie Map

    #search-bar
      include includes/search-bar
  .search-results-pane
  .bottom-pane.map-only
    .movie-detail-pane
    .map-pane
      .map-container
      .overlay


block scripts
  :coffeescript
    require '/index'
