extends base

block content
  .top-pane
    .logo-wrapper
      .logo: a(href='/'): span.imgh Movie Map

    #search-bar
      include includes/SearchBar
  .search-results-pane
  .bottom-pane.map-only
    .movie-detail-pane
    .map-pane
      .map-container
      .overlay
    include includes/intro


block scripts
  :coffeescript
    require '/index'
